article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }

body {
    font-family: Helvetica, Arial, Sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

div#toolbar {
    background-image: url('../../static/img/background.png');
    border-right: 1px solid #bbb;
    position: fixed;
    left: 0;
    top:0;
    bottom: 0;
    width: 300px;
    overflow: auto;
}

div#toolbar ul {
    margin: 5px 30px 0 30px;
    padding: 0;
    background-color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 2000;
}
div#toolbar ul li  {
    font-family: georgia, serif;
    font-size: 15px;
    list-style-type: none;
    border-bottom: 1px solid #eee;
    padding: 8px 10px;
    color: #777;
    letter-spacing: 0.05em;
    cursor: default;
}


div#toolbar ul li span {
    text-indent: -9999px;
    display: inline-block;
    float: right;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
    margin-top: 3px;
}
div#toolbar ul li.inactive {
    color: #bbb;
}

div#toolbar ul li input {
    margin-right: 10px;
}

div#toolbar div#title {
    text-indent: -9999px;
    background-image: url('../../static/img/logo.png');
    background-position: 50% 0%;
    background-repeat: no-repeat;
    margin-top: 25px;
    height: 60px;
    position: relative;
}

div#toolbar h1 {
    font-size: 22px;
    padding: 0;
    margin: 0;
}

div#toolbar p {
    font-size: 12px;
    margin: 10px 0 0 0;
}

div#toolbar div#about {
    text-align: center;
    width: 100%;
    height: 38px;
    margin: 20px 0;
    z-index: 1000;
}

div#shadow {
    background-image: url('../../static/img/shadow-map.png');
    background-position: 50% 50%;
    background-repeat: repeat-y;    
    position: fixed;
    z-index: 7000;
    left: 301px;
    top: 0;
    bottom: 0;
    width: 32px;
}

div#shade {
    z-index: 9000;
    background-color: #000;
    Filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div#errorPopup {
    z-index: 10000;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 80px;
    padding: 30px;
    background-color: #8B0000;
    margin-left: -150px;
    margin-top: -100px;
    color: #FFF;
    font-size: 22px;
    text-align: center;
    border: 1px solid #9E2222;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;

    box-shadow: 0 0 10px #111;
    -moz-box-shadow: 0 0 10px #111;
    -webkit-box-shadow: 0 0 10px #111;
}

div#errorPopup p {
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: bold;
}

div#errorPopup span {
    font-size: 14px;
    display: block;
    margin-top: 10px;
}

div#map_canvas {
    position: absolute;
    left: 301px;
    top: 0;
    right: 0;
    bottom: 0;
}